{% extends 'flatpages/default.html' %}

{% block title %} Удалить пост {% endblock title %}

{% block content %}
<h2>Вы действительно хотите удалить данный пост?</h2>

<h1>{{ post.title_post }}</h1>
{% for category in post.post_category.all %}
Текст поста: {{ post.text_post }}<br>
Тип поста: {{ post.type_post }}<br>
Категория поста: {{ category.category_name }}<br>
Автор:{{ post.author }}<br>
Рейтинг поста:{{ post.rating }}<br>
Дата:{{ time_now|date:'M d Y' }}<br>
{% endfor %}

<form method="POST">
    {% csrf_token %}
    <input type="submit" value="подтвердить"></form>
{% endblock content %}