{% extends 'flatpages/default.html' %}
{% load i18n %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
{% trans "Новости" %}
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}
   <h1>{% trans "Все посты" %}</h1>
    <h3>{% trans "На странице" %}
        {{ posts|length }}
        {% trans "постов" %}</h3>

   <hr>

    {% if posts %}
       <table>
           <tr>
               <td>{% trans "Название" %}</td>
               <td>{% trans "Описание" %}</td>
               <td>{% trans "Категория" %}</td>
               <td>{% trans "Тип поста" %}</td>
               <td>{% trans "Автор" %}</td>
               <td>{% trans "Рейтинг статьи" %}</td>
               <td>{% trans "Дата публикации" %}</td>
           </tr>

           <!-- Для каждого поста будет генерироваться новая строка -->
           {% for post in posts %}
           {% for category in post.post_category.all %}
           <tr>
               <td>
                   <a href="{% url 'post' post.id %}">{{ post.title_post|censor }}</a>
                   <a href="{% url 'post_update' post.id %}"><u>{% trans "Редактировать" %}</u></a>
                   <a href="{% url 'post_delete' post.id %}"><u>{% trans "Удалить" %}  </u></a>
               </td>
               <td>{{ post.text_post|truncatewords:20 }}</td>
               <td>{{ category.category_name }}</td>
               <td>{{ post.type_post }}</td>
               <td>{{ post.author|currency:"usd" }}</td>
               <td>{{ post.rating }}</td>
               <td>{{ post.data_time|date:"M d Y" }}</td>
           </tr>
           {% endfor %}
           {% endfor %}
       </table>
   {% else %}
       <h2>{% trans "Постов нет!" %}</h2>
   {% endif %}

{% if is_paginated %}
    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
{% endif %}
{% endblock content %}


